<div class="container marketing py-4">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ content.name }}</li>
        </ol>
    </nav>
    <div class="bg-white pt-4">
        <h4 class="animate__animated animate__fadeInLeft">{{ content.name }}</h4>
        <hr class="featurette-divider mb-4 animate__animated animate__fadeInRight">
        <div class="row featurette animate__animated animate__fadeInUp">
            <div class="col-sm-12" [innerHTML]="content.content"></div>
        </div>
    </div>
</div>