
<div class="card h-100 box" >
    <div class="ribbon" *ngIf="item.isSalient"><span>Recomendado</span></div>
    
    <img (click)="goToProduct()" class="card-img-top cursor-pointer" src="{{ environment.imgUrl.md }}{{ item.picture }}"  onerror="this.onerror=null; this.src='assets/imgs/no-photo.png'" >
    <div class="card-body cursor-pointer" (click)="goToProduct()" style="border-top: #DDD solid 1px; position:relative">
        <div class="ribbon_brand" *ngIf="item.brand"><span>{{ item.brand }}</span></div>
        <h3 class="card-title" *ngIf="item.price > 0">
            <b>{{ item.price | formatNumber }}</b>
        </h3>
        <p class="text-muted">{{ item.name }}</p>
        <small>{{ item.sku }}</small>
    </div>
    <div class="card-footer text-center" *ngIf="item.price > 0 && item.inStock && item.stock > 0">
        <button class="btn btn-sm btn-info text-white" (click)="addToCart()" *ngIf="!inCart">Añadir al carrito</button>
        <button class="btn btn-sm btn-success text-white" *ngIf="inCart"> Añadido <i class="fa fa-check"></i></button>
    </div>
    <div class="card-footer text-center" *ngIf="item.price == 0 || !item.inStock">
        <span class="badge badge-danger">Sin stock</span>
    </div>
</div>