
<div style="position: absolute;
background: url(assets/imgs/bg-login-2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
top: 0;
width: 100%;
height: 100%;">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      
      <!-- Icon -->
      <div class="fadeIn first m-5">
        <img src="assets/imgs/logo_smartpro.png" id="icon" alt="Logo SmartPro" />
      </div>
      
      <!-- Login Form -->
      <form (ngSubmit)="save(login)" #login="ngForm" autocomplete="disabled" autocomplete="off">
        <div class="px-5">
          <div class="form-group">
            <input type="text" id="login" class="fadeIn second form-control p-4"  [(ngModel)]="form.username" name="username" autocomplete="off" placeholder="Nº de siniestro">
          </div>
          <div class="form-group">
            <input type="password" id="password" class="fadeIn third form-control p-4" [(ngModel)]="form.password" name="password"  autocomplete="off" placeholder="Contraseña">
          </div>
        </div>
        <input type="submit" class="fadeIn fourth" value="Ingresar">
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        ¿Tienes problemas para ingresar?<br>Escríbenos a <a href="mailto:tienda@smartpro.com.ar">tienda@smartpro.com.ar</a>
      </div>
    </div>
  </div>
</div>