<nav class="navbar navbar-expand-md navbar-light fixed-top bg-info ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item animate__animated animate__fadeInDown animate__faster animate__delay-1s">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown animate__faster animate__delay-2s">
                    <a class="nav-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown animate__faster animate__delay-2s">
                    <a class="nav-link " routerLink="/productos" routerLinkActive="active">Productos</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown animate__faster animate__delay-2s">
                    <a class="nav-link " routerLink="/contacto" routerLinkActive="active">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <a class="nav-link text-white " routerLink="/terminosYcondiciones" routerLinkActive="active">Términos y condiciones</a>
        </div>
    </div>
</nav>