<ng-container *ngIf="loginService.user.cart.items.length > 0"> 
    <div class="animate__animated animate__zoomIn animate__faster">
    <h3 *ngIf="title" class="mb-3">Carrito</h3>
    <div class="card mb-3 " *ngFor="let item of loginService.user.cart.items; let i=index;">
        <app-cart-item [item]="item"></app-cart-item>
    </div>
    <div class="text-right mt-5 mb-4">
        <h2 class="mb-3"> Total : {{ loginService.user.cart.total | formatNumber }} </h2>
        <h2 class="mb-1"> Costo de envío : {{ 0 | formatNumber }} </h2>
        <h2 class="mb-3"> Crédito : {{ loginService.user.balance | formatNumber }} </h2>
        <h2 class="mb-3" [ngClass]="(loginService.user.balance - this.loginService.user.cart.total) > 0 ? 'text-success' : 'text-danger' "> Saldo : {{ (loginService.user.balance - loginService.user.cart.total) | formatNumber }} </h2>
    </div>
    <a routerLink="/productos" role="button" class="btn btn-secondary">Seguir comprando</a>
    <a routerLink="/checkout" role="button" class="btn btn-info float-right">Finalizar compra</a>
</div>
</ng-container>
<ng-container *ngIf="loginService.user.cart.items.length == 0">
    <div class="text-center animate__animated animate__zoomIn animate__faster">
        Aún no tienes productos en tu carrito. <a routerLink="/productos">Agregar productos</a>
    </div>
</ng-container>