<footer class="container mt-4 animate__animated animate__zoomIn">
    <img src="assets/imgs/banner-smartpro.jpeg" class="w-100 ">
    <p class="text-center my-5">
        Cómo lo estamos haciendo? <a href="mailto:tienda@smartpro.com.ar">Dejanos tu comentario</a>. <br/>Para nosotros es muy importante mejorar sus experiencias, muchas gracias por sus contribuciones.
    </p>
    <hr class="mb-5">
    <p class="float-right">
        <a javascript="void(0)" (click)="onActivate($event)">
            <span class="fa-stack text-info fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-chevron-up fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </p>
    <p>&copy; Todos los derechos reservados &middot; 2021 SmartPro  <a routerLink="/terminosYcondiciones">Términos y condiciones</a></p>
</footer>