<div class="container-fluid animated fadeIn" *ngIf="data">
    <app-breadcrumb [title]="'Siniestros'" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                Siniestro: Nº {{ data.number }}    
            </h3>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-light">
                        <h4 class="card-header bg-info text-white"><b>Datos del siniestro</b></h4>
                        <div class="card-body">
                            <p><b>Nº:</b> {{ data.number }}</p>
                            <p><b>Monto:</b> {{ data.amount | formatNumber }}</p>
                            <p><b>Fecha:</b> {{ data.date | date }}</p>
                            <p><b>Compañia:</b> {{ data.company.name }}</p>
                            <p><b>Analista:</b> {{ data.productor.name }}</p>
                            <p>{{ data.observations }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <h4 class="card-header bg-success text-white"><b>Siniestrado</b></h4>
                        <div class="card-body">
                            <p><b>Nombre: </b> {{ data.customer.name }}</p>
                            <p><b>DNI: </b> {{ data.customer.document }}</p>
                            <p><b>Teléfono: </b> <a href="tel:+549{{ data.customer.phone }}">{{ data.customer.phone }}</a></p>
                            <p><b>Email: </b> <a href="mailto:{{ data.customer.email }}">{{ data.customer.email }}</a></p>
                            <p><b>Dirección:</b> {{ data.customer.street }} {{ data.customer.streetNumber }} / {{ data.customer.floor }} {{ data.customer.department }}</p>
                            <p><b>Ciudad:</b> {{ data.customer.locality.name }}, {{ data.customer.locality.department.name }}, {{ data.customer.provence.name }} ({{ data.customer.postalCode }})</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-light">
                        <h4 class="card-header bg-{{ data.status.color }} text-white text-center"><b>{{ data.status.name }}</b></h4>
                        <div class="card-body">
                            <div class="form-group">
                                <select name="newStatus" class="form-control" [(ngModel)]="newStatusSelect">
                                    <option value="-1">-- Seleccione el nuevo estado --</option>
                                    <ng-container *ngFor="let item of status; let i=index;">
                                        <option value="{{ i }}" *ngIf="data.status.id != item.id">{{ item.label }}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="observations" [(ngModel)]="observations" class="form-control"
                                    rows="3" placeholder="Observaciones"></textarea>
                            </div>
                            <button class="btn btn-info btn-sm" 
                                (click)="newStatus()">Cambiar
                                estado</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card bg-light">
                        <h4 class="card-header bg-primary text-white"><b>Productos</b></h4>
                        <div class="card-body">
                            <app-form-product-sinister></app-form-product-sinister>
                            <hr>
                            <ng-container *ngIf="data.items">
                                <p *ngIf="data.order"><b>Pedido: </b> <a [routerLink]="['/orders/', data.order.id]">Nº {{ data.order.id }}</a></p>
                                <div class="table-responsive bg-white" style="clear: both;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th class="text-right">Cantidad</th>
                                                <th class="text-right">Costo</th>
                                                <th class="text-right">Precio</th>
                                                <th>Remito</th>
                                                <th>Proveedor</th>
                                                <th>Pedido</th>
                                                <th>Llegada</th>
                                                <th>Medio</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let product of data.items; let i=index;">
                                                <td>{{ product.description }}</td>
                                                <td class="text-right">{{ product.amount }}</td>
                                                <td class="text-right">{{ product.cost | formatNumber }}</td>
                                                <td class="text-right">{{ product.price | formatNumber }}</td>
                                                <td>{{ product.bill }}</td>
                                                <td>{{ product.provider.name }}</td>
                                                <td>{{ product.departureDate }}</td>
                                                <td>{{ product.arrivalDate }}</td>
                                                <td>{{ product.transport }}</td>
                                                <td><a matTooltip="Eliminar" matTooltipPosition="above" role="button" (click)="remove(product)" class="btn-remove btn btn-outline-danger btn-sm"><i class="fa fa-trash text-danger"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body" >
            <app-timeline [resource]="data.id"></app-timeline>
        </div>
    </div>
</div>
