<div class="container marketing py-4">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Compra finalizada</li>
        </ol>
    </nav>
    <div class="bg-white py-4 animate__animated animate__zoomIn text-center">
        <ng-container>        
            <h3>¡Felicitaciones!</h3>
            <p>Hemos recibido tu pedido y ya lo estamos preparando, te notificaremos por email cuando lo despachemos.</p>
            <p>
                <b>¡Muchas gracias por tu compra!</b>
            </p>
        </ng-container>
    </div>
</div>
