<div class="container-fluid animated fadeIn">
    <app-breadcrumb [title]="'Analistas de siniestros'" [breadcrumbs]="breadcrumbs" ></app-breadcrumb>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row form-material">
                        <div class="col-md-4">
                            <div class="text-left animated fadeInLeft">
                                <a role="button" routerLink="nuevo" class="btn btn-rounded btn-success"><i class="fa fa-plus"></i> Nuevo</a>
                            </div>
                        </div>
                        <div class="col-md-4 animated fadeInDown">
                            <div>
                                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="query" (keyUp.enter)="search()">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-right animated fadeInRight">
                                <app-pagination  [total]="data.recordsFiltered" [limit]="productorsService.limit" [pages]="data.pages"></app-pagination>
                            </div>
                        </div>
                    </div>
                    <div class="animated fadeInUp">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th (click)="productorsService.setOrder('name')">
                                        <app-table-th [title]="'Nombre'" [field]="'name'" [sort]="productorsService.sort" [direction]="productorsService.direction"></app-table-th>
                                    </th>
                                    <th (click)="productorsService.setOrder('email')">
                                        <app-table-th [title]="'Email'" [field]="'email'" [sort]="productorsService.sort" [direction]="productorsService.direction"></app-table-th>
                                    </th>
                                    <th (click)="productorsService.setOrder('password')">
                                        <app-table-th [title]="'Contraseña'" [field]="'password'" [sort]="productorsService.sort" [direction]="productorsService.direction"></app-table-th>
                                    </th>
                                    <th (click)="productorsService.setOrder('phone')">
                                        <app-table-th [title]="'Teléfono'" [field]="'phone'" [sort]="productorsService.sort" [direction]="productorsService.direction"></app-table-th>
                                    </th>                                    
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.data; let i=index;">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.password }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td class="text-center">
                                        <a matTooltip="Editar" matTooltipPosition="above" role="button" [routerLink]="['/productors/editar', item.id]"  class="btn-edit btn btn-outline-info btn-circle mr-1"><i class="fa fa-pencil text-info"></i></a> 
                                        <a matTooltip="Eliminar" matTooltipPosition="above" role="button" (click)="remove(i)" class="btn-remove btn btn-outline-danger btn-circle"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <app-count-results [total]="data.recordsFiltered"></app-count-results>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>