
<!-- NEED_TO_DEFINE_PRODUCTS
WAITING_FOR_PRODUCTS
UNDELIVERED
DELIVERED
INVOICED
DISCHARDGED -->
<div class="container-fluid animated fadeIn">
    <app-breadcrumb [title]="'Siniestros'" [breadcrumbs]="breadcrumbs"></app-breadcrumb>
    <div class="card">
        <div class="card-body" *ngIf="data">
            <h2 class="card-title animated fadeInDown">Estado actual</h2>
            <hr class="mb-4">
            <div class="alert alert-{{ data.status.color }}">{{ data.status.name }}</div>
            <h2 class="card-title animated fadeInDown">Cambiar estado</h2>
            <hr class="mb-4">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="this.status[0].id" [disabled]="this.status[0].disabled">
                  <a ngbNavLink >{{ this.status[0].label }}</a>
                  <ng-template ngbNavContent>
                    <div class="tab-pane">
                      <p>
                        EL siniestro Nº se encuentra en estado '{{ this.status[0].label }}'
                      </p>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="this.status[1].id" [disabled]="this.status[1].disabled">
                  <a ngbNavLink >{{ this.status[1].label }}</a>
                  <ng-template ngbNavContent>
                    <div class="tab-pane">
                      <p>
                        EL siniestro Nº se encuentra en estado '{{ this.status[1].label }}'
                      </p>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="this.status[2].id" [disabled]="this.status[2].disabled">
                  <a ngbNavLink >{{ this.status[2].label }}</a>
                  <ng-template ngbNavContent>
                    <div class="tab-pane">
                      <p>
                        EL siniestro Nº se encuentra en estado '{{ this.status[2].label }}'
                      </p>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="this.status[3].id" [disabled]="this.status[3].disabled">
                  <a ngbNavLink >{{ this.status[3].label }}</a>
                  <ng-template ngbNavContent>
                    <div class="tab-pane">
                      <p>
                        EL siniestro Nº se encuentra en estado '{{ this.status[3].label }}'
                      </p>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="this.status[4].id" [disabled]="this.status[4].disabled">
                  <a ngbNavLink >{{ this.status[4].label }}</a>
                  <ng-template ngbNavContent>
                    <div class="tab-pane">
                      <p>
                        EL siniestro Nº se encuentra en estado '{{ this.status[4].label }}'
                      </p>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="this.status[5].id">
                  <a ngbNavLink>{{ this.status[5].label }}</a>
                  <ng-template ngbNavContent>
                    <div class="tab-pane text-center">
                      <ng-container *ngIf="data.status.id==this.status[5].id">
                        <p>
                          EL siniestro Nº se encuentra en estado '{{ this.status[5].label }}'
                        </p>
                      </ng-container>
                      <ng-container *ngIf="data.status.id!=this.status[5].id">
                        <p>
                          ¿Está seguro que desea cambiar a este estado?
                        </p>
                        <button class="btn btn-info" (click)="newStatus(this.status[5].id)">Sí, Aceptar</button>
                      </ng-container>
                    </div>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>