<ng-container *ngIf="item">
    <div class="row animate__animated animate__fadeIn">
        <div class="col-sm-6 mt-4">
            <pinch-zoom >
                <img src="{{ environment.imgUrl.lg }}{{ item.picture }}"  onerror="this.onerror=null; this.src='assets/imgs/no-photo.png'" class="w-100">
            </pinch-zoom>
        </div>
        <div class="col-sm-6">
            <span class="badge badge-info" *ngIf="item.isSalient">Recomendado</span>
            <h3 class="py-3">{{ item.name }}</h3>
            <h3 class="text-info" *ngIf="item.price > 0">{{ item.price | formatNumber }}</h3>
            <div class="description mt-3" [innerHTML]="item.description"> </div>
            <hr>
            <ng-container *ngIf="item.price > 0">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <button class="input-group-text btn" (click)="minus()"><i class="fa fa-minus"></i></button>
                            </div>
                            <input type="text" class="form-control text-center" [(ngModel)]="amount" name="amount">
                            <div class="input-group-append">
                                <button class="input-group-text btn" (click)="plus()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-block" (click)="addToCart()" *ngIf="!inCart">Añadir al carrito</button>
                        <button class="btn btn-success btn-block" (click)="addToCart()" *ngIf="inCart">Actualizar al carrito</button>
                    </div>
                </div>
                <hr>
            </ng-container>
            <div class="">
                <h6 *ngIf="item.brand"><b>Marca:</b> {{ item.brand }}</h6>
                <h6><b>SKU:</b> {{ item.sku}}</h6>
                <h6 *ngIf="item.categories.length > 0">
                    <b>Categoría:</b> 
                    <ng-container *ngFor="let category of item.categories; let i=index;">
                        <span class="badge badge-info ml-1">
                            {{ category.name }}
                        </span>
                    </ng-container>
                </h6>
                <h6 *ngIf="item.tags"><b>Etiquetas:</b> {{ item.tags }}</h6>
            </div>
        </div>
    </div>
    <ng-container *ngIf="item.descriptionLarge">
        <h5 class="animate__animated animate__fadeInLeft mt-4">Descripción</h5>
        <hr class="animate__animated animate__fadeInRight">
        <div class="description pb-5" [innerHTML]="item.descriptionLarge">
        </div>
    </ng-container>
    <h5 class="animate__animated animate__fadeInLeft mt-4">Productos relacionados</h5>
    <hr class="animate__animated animate__fadeInRight">
    <div class="row">
        <div class="col-md-3 mb-4 animate__animated animate__fadeInUp animate__faster animate__delay-{{ i }}s" *ngFor="let item of similars; let i=index;">
            <app-card-product [item]="item"></app-card-product>
        </div>
    </div>
</ng-container>